<div class="recipe-preview-container" data-cook-time="{{cook-time}}" data-people-served="{{people-served}}" data-difficulty="{{difficulty}}" data-spice="{{spice}}" data-ingredients="{{ingredients}}" data-directions="{{directions}}" data-author="{{author}}" data-meal="{{meal}}">
            <div class="recipe-preview-image-container">
              <img src="{{url}}" alt="{{title}}">
            </div>
            <h3><a href="#" class="recipe-preview-title">{{title}}</a></h3>
            <span class="preview-data-author">Created by: {{author}}</span>
            <h2 class="preview-edit-recipe-text">Edit Recipe</h2>
            <input class="preview-edit-checkbox" type="checkbox" name="edit-recipe" value="edit">
        </div>